In [4]:
import pandas as pd

df = pd.read_csv('C:\\Users\\power\\Downloads\\salaries.csv')
df.tail()

     company                  job     degree  salary_more_then_100k
11  facebook      sales executive    masters                      1
12  facebook     business manager  bachelors                      1
13  facebook     business manager    masters                      1
14  facebook  computer programmer  bachelors                      1
15  facebook  computer programmer    masters                      1

In [18]:
ind = df.drop('salary_more_then_100k', axis='columns')

In [19]:
dpt = df['salary_more_then_100k']

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [73]:
ind['company_lb'] = le_company.fit_transform(ind['company'])
ind['job_lb'] = le_job.fit_transform(ind['job'])
ind['degree_lb'] = le_degree.fit_transform(ind['degree'])

In [46]:
le_company.transform(["google", "facebook", "abc pharma"])

array([2, 1, 0])

In [47]:
le_job.transform(["sales executive", "business manager", "computer programmer"])

array([2, 0, 1])

In [48]:
le_degree.transform(["masters", "bachelors"])

array([1, 0])

In [72]:
input = ind.drop(['company', 'job', 'degree'], axis='columns')
input.head()

   company_lb  job_lb  degree_lb
0           2       2          0
1           2       2          1
2           2       0          0
3           2       0          1
4           2       1          0

In [49]:
y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [ ]:
model.fit(input, y)

In [ ]:
model.score(input, y)

In [76]:
model.predict([[2,1,0]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)