In [1]:
import pandas as pd
from sklearn import linear_model

In [3]:
df = pd.read_csv('C:\\Users\\power\\Downloads\\villagehomeprice.csv')
df

           town  area   price
0     Chalingad  2600  570000
1     Chalingad  4300  750000
2     Chalingad  3300  610000
3     Chalingad  2100  520000
4       Ottatai  3200  600000
5       Ottatai  4800  740000
6       Ottatai  2700  580000
7       Ottatai  4200  730000
8   Pallivalavu  3300  670000
9   Pallivalavu  1800  510000
10  Pallivalavu  2200  580000
11  Pallivalavu  4100  440000

In [5]:
dummies = pd.get_dummies(df.town)
dummies

    Chalingad  Ottatai  Pallivalavu
0        True    False        False
1        True    False        False
2        True    False        False
3        True    False        False
4       False     True        False
5       False     True        False
6       False     True        False
7       False     True        False
8       False    False         True
9       False    False         True
10      False    False         True
11      False    False         True

In [8]:
merged = pd.concat([df, dummies], axis='columns')
merged

           town  area   price  Chalingad  Ottatai  Pallivalavu
0     Chalingad  2600  570000       True    False        False
1     Chalingad  4300  750000       True    False        False
2     Chalingad  3300  610000       True    False        False
3     Chalingad  2100  520000       True    False        False
4       Ottatai  3200  600000      False     True        False
5       Ottatai  4800  740000      False     True        False
6       Ottatai  2700  580000      False     True        False
7       Ottatai  4200  730000      False     True        False
8   Pallivalavu  3300  670000      False    False         True
9   Pallivalavu  1800  510000      False    False         True
10  Pallivalavu  2200  580000      False    False         True
11  Pallivalavu  4100  440000      False    False         True

In [20]:
final = merged.drop(['town', 'Ottatai'], axis='columns')
final

    area   price  Chalingad  Pallivalavu
0   2600  570000       True        False
1   4300  750000       True        False
2   3300  610000       True        False
3   2100  520000       True        False
4   3200  600000      False        False
5   4800  740000      False        False
6   2700  580000      False        False
7   4200  730000      False        False
8   3300  670000      False         True
9   1800  510000      False         True
10  2200  580000      False         True
11  4100  440000      False         True

In [21]:
x = final.drop(['price'], axis='columns')
x

    area  Chalingad  Pallivalavu
0   2600       True        False
1   4300       True        False
2   3300       True        False
3   2100       True        False
4   3200      False        False
5   4800      False        False
6   2700      False        False
7   4200      False        False
8   3300      False         True
9   1800      False         True
10  2200      False         True
11  4100      False         True

In [23]:
y = final.price

In [24]:
reg = linear_model.LinearRegression()
reg.fit(x, y)

LinearRegression()

In [25]:
reg.score(x, y)

0.4632502609187802

In [26]:
reg.predict(x)

array([588001.43266476, 675680.51575931, 624104.58452722, 562213.46704871,
       635422.63610315, 717944.1260745 , 609634.67048711, 686998.56733524,
       573209.16905444, 495845.2722063 , 516475.64469914, 614469.91404011])

In [28]:
reg.predict([[2900, 0, 1]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([552578.7965616])

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [30]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  570000
1      0  4300  750000
2      0  3300  610000
3      0  2100  520000
4      1  3200  600000
5      1  4800  740000
6      1  2700  580000
7      1  4200  730000
8      2  3300  670000
9      2  1800  510000
10     2  2200  580000
11     2  4100  440000

In [31]:
x = dfle[['town', 'area']].values
x

array([[   0, 2600],
       [   0, 4300],
       [   0, 3300],
       [   0, 2100],
       [   1, 3200],
       [   1, 4800],
       [   1, 2700],
       [   1, 4200],
       [   2, 3300],
       [   2, 1800],
       [   2, 2200],
       [   2, 4100]], dtype=int64)

In [32]:
y = dfle.price.values
y

array([570000, 750000, 610000, 520000, 600000, 740000, 580000, 730000,
       670000, 510000, 580000, 440000], dtype=int64)

In [33]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [34]:
x = ct.fit_transform(x)
x

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.3e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.3e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 2.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 4.8e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.7e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 4.2e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 1.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.2e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 4.1e+03]])

In [35]:
x = x[:, 1:]
x

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 4.3e+03],
       [0.0e+00, 0.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 2.1e+03],
       [1.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 4.8e+03],
       [1.0e+00, 0.0e+00, 2.7e+03],
       [1.0e+00, 0.0e+00, 4.2e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 1.8e+03],
       [0.0e+00, 1.0e+00, 2.2e+03],
       [0.0e+00, 1.0e+00, 4.1e+03]])

In [36]:
reg.fit(x, y)

LinearRegression()

In [37]:
reg.predict([[0, 1, 4000]])

array([609312.3209169])